// Fonts

$font: brandon-grotesque, sans-serif;

// Colors

$black: #333E49;
//$gold: #DEB764; old
$gold: #a18a5a;
//$blue: #318FFF; old
$blue: #353f49;
$grey: #595F6F;

$black-5: #EAECEC;
$black-7: #E2E4E6;
$black-90: #31404A;

$gold-10: #F9F2E1;

// Transitions

$tr-bg: background 0.2s ease-in-out;
$tr-shdw: box-shadow 0.2s ease-in-out;
$tr-clr: color 0.2s ease-in-out;
$tr-opc: opacity 0.2s ease-in-out;
$tr-all: all 0.2s ease-in-out;