.main.page-solutions {
  #scroll {
  }
  .solutions-block {
    padding: 100px 0;
    @include breakpoint(768) {
      padding: 75px 0;
    }
    .wrapper {
      .wrap {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(1200) {
          display: flex;
          flex-wrap: wrap;
          max-width: 640px;
          margin: 0 auto;
        }
        .single {
          display: flex;
          position: relative;
          align-items: center;
          flex-wrap: wrap;
          text-decoration: none;
          width: calc(50% - 35px);
          margin: 0 70px 70px 0;
          @include breakpoint(1200) {
            width: 100%;
            margin: 0 0 50px;
            &:last-of-type {
              margin: 0;
            }
          }
          &:nth-of-type(2n + 2) {
            margin: 0 0 70px;
            @include breakpoint(1200) {
              margin: 0 0 50px;
            }
            @include breakpoint(640) {
              margin: 0 0 30px;
            }
          }
          @include breakpoint(640) {
            margin: 0 0 30px;
          }
          @include breakpoint(640) {
            flex-wrap: wrap;
          }
          &:hover {
            .single-overlay {
              background: $gold-10;
            }
            .txt {
              h4 {
                a {
                  color: $gold;
                }
              }
            }
            .link {
              .circle {
                background: $gold-10;
              }
              span {
                color: $gold;
                &:after {
                  @include opacity(1);
                  left: 0;
                }
              }
            }
          }
          .single-overlay {
            width: 100%;
            height: 100%;
            @include border-radius(220px);
            -webkit-border-bottom-left-radius: 200px !important;
            border-bottom-left-radius: 200px !important;
            -webkit-border-top-left-radius: 200px !important;
            border-top-left-radius: 200px !important;
            position: absolute;
            top: 0;
            left: 0;
            background: $black-7;
            @include transition($tr-all);
            @include breakpoint(1200) {
              @include border-radius(180px);
            }
            @include breakpoint(480) {
              @include border-radius(100px);
              -webkit-border-bottom-left-radius: 100px !important;
              border-bottom-left-radius: 100px !important;
              -webkit-border-top-left-radius: 100px !important;
              border-top-left-radius: 100px !important;
            }
          }
          .circle {
            width: 34%;
            position: relative;
            overflow: hidden;
            display: inline-block;
            max-width: 400px;
            z-index: 2;
            height: 100%;
            @include border-radius(220px);
            @include breakpoint(480) {
              width: 60%;
              margin: 30px auto 30px;
              height: auto;
              @include border-radius(80px);
            }
            &:after {
              content: "";
              display: block;
              padding-top: 110%;
              width: 100%;
            }
            .overlay {
              width: 100%;
            }
          }
          .txt {
            z-index: 3;
            position: relative;
            width: calc(66% - 30px);
            margin: 0 0 0 30px;
            padding: 20px 40px 20px 0;
            @include breakpoint(480) {
              width: 80%;
              margin: 0 auto;
              padding: 0 0 30px;
            }
            h4 {
              margin: 0 0 20px;
              font-weight: 700;
              @include breakpoint(480) {
                text-align: center;
              }
              a {
                text-decoration: none;
                color: $black;
                @include transition($tr-clr);
              }
            }
            p {
              margin: 0;
              @include breakpoint(480) {
                text-align: center;
              }
            }
          }
          .link-wrap {
            width: 100%;
            margin: 20px 0 0;
            .link {
              text-decoration: none;
              z-index: 3;
              position: relative;
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .circle {
                width: 60px;
                height: 60px;
                background: $black-5;
                @include transition($tr-bg);
                @include breakpoint(640) {
                  width: 45px;
                  height: 45px;
                }
              }
              span {
                @include font(20px, $black, 700, 1);
                display: block;
                position: absolute;
                margin: auto;
                left: 35px;
                z-index: 2;
                @include transition($tr-clr);
                &:after {
                  margin: 5px 0 0;
                  content: "";
                  display: block;
                  width: 21px;
                  height: 15px;
                  background-image: url('../images/icon-arrow-right.svg');
                  background-position: center;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  position: absolute;
                  bottom: -20px;
                  left: -30px;
                  @include opacity(0);
                  @include transition($tr-all);
                }
              }
            }
          }
        }
      }
    }
  }
}